<div>
  <h1>Information Ticket</h1>
  <p>Movie: {{movieName}}</p>
  <p>Theater Address: {{theaterAddress}}</p>
  <p>Start: {{movieStartDate}}</p>
  <p>Seat: {{seat}}</p>
  <p>Price: {{price}}</p>
</div>